IMAP4rev2 / SMTPUTF8 Support (RFC 6531 & RFC 9051) [Library Level]

# IMAP4rev2 / SMTPUTF8 Support (RFC 6531 & RFC 9051) [Library Level]

See https://github.com/horde/base/issues/30 suggested by @otzie2023


IMAP4rev2 is the latest revision of the IMAP protocol and brings a number of improvements, clarifications and standardisations compared to IMAP4rev1.

Why IMAP4rev2 is important:

IMAP4rev2 combines numerous extensions that were previously optional (e.g. ENABLE, UTF8=ACCEPT, LITERAL+, IDLE, etc.). .
Many older inconsistencies have been eliminated, simplifying implementations.
Modern mail servers (e.g. Dovecot, Cyrus) are already beginning to officially support IMAP4rev2.
Full support would make Horde future-proof and standards-compliant.

Proposal:

Gradual implementation of the mandatory extensions
Possibly a feature flag imap4rev2 for gradual activation
References:
RFC 9051 – IMAP4rev2
RFC 3501 – IMAP4rev1
RFC 6531 – SMTPUTF8

## Library Level

This is the library level implementation with no specific ties into Horde Framework, Core or IMP application.

Imap4rev2 is part of my architecture draft for the PSR-4 implementation of Horde\Imap\Client. #42 brought the interfaces, an upcoming PR will bring the implementation part.

See also #51 for the actual implementation.